.container-fluid.glisser {
    background-position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 800px;
}

label {
    margin-top: 0;
}

#draggable1 {
    visibility: hidden;
}

#items img.fruit {
    width: 50px;
    opacity: 100%;
}

#items img.fruits {
    width: 50px;
}

#items img.vache {
    width: 90px;
}

#items img.mouton {
    width: 50px;
}

#items img.poule {
    width: 50px;
}

#items img.cheval {
    width: 90px;
}

#items img.cochon {
    width: 70px;
}

#items img.culotte {
    width: 70px;
}

#items img.t-shirt {
    width: 50px;
}

#items img.pull {
    width: 50px;
}

#items img.chaussette {
    width: 50px;
}

#items img.pantalon {
    width: 100px;
}

#items img.yahourt {
    width: 80px;
}

#items img.beurre {
    width: 80px;
}

#items img.lait {
    width: 80px;
}

#items img.tomate {
    width: 80px;
}

#items img.jus {
    width: 80px;
}

#items img.crabe {
    width: 80px;
}

#items img.poisson {
    width: 80px;
}

#items img.pieuvre {
    width: 80px;
}

#items img.tortue {
    width: 80px;
}

#items img.étoile {
    width: 80px;
}

div #items {
    float: left;
}

#orange img {
    width: 50px;
}

#banana img {
    width: 65px;
}

#poire img {
    width: 60px;
}

#gameRules img {
    width: 50px;
}

#table img {
    margin-top: 1em;
    margin-left: 5em;
    width: 800px;
}

div #table {
    float: left;
    height: 100vh;
}

div #panier {
    height: 150vh;
}

#table {
    width: 65%;
}

#items {
    width: 35%;
}

.title {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainTitle h1 {
    color: black;
    font-size: 2em;
}

#gameRules {
    text-align: center;
}

#gameRules h2 {
    opacity: 90%;
}

h2.bravo {
    color: indigo;
}

h2.win {
    color: crimson;
}

h2.bigWin {
    color: darkmagenta;
}

h2.alert {
    color: red;
    background-color: #fff;
}

.speaker:hover {
    color: lightcoral;
    cursor: pointer;
}

.button {
    margin-top: 15px;
}

.test {
    width: auto;
    background-color: black;
    margin: 2px;
    cursor: pointer;
}
